# MinIO — Data Lake local (compatible API AWS S3)
MINIO_ROOT_USER=votre_user_minio
MINIO_ROOT_PASSWORD=votre_mot_de_passe_minio

# PostgreSQL — Data Warehouse local
POSTGRES_DB=jobs_db
POSTGRES_USER=votre_user_postgres
POSTGRES_PASSWORD=votre_mot_de_passe_postgres