# MinIO (Data Lake local)
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_ENDPOINT=http://localhost:9000
MINIO_BUCKET_RAW=raw-jobs
MINIO_BUCKET_PROCESSED=processed-jobs

# PostgreSQL (Data Warehouse local)
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=jobs_db
POSTGRES_USER=jobs_user
POSTGRES_PASSWORD=jobs_password123

# Adzuna API (on remplira plus tard)
ADZUNA_APP_ID=
ADZUNA_APP_KEY=

# Environnement (local ou aws)
ENV=local