# MinIO — Data Lake local (compatible API AWS S3)
MINIO_ROOT_USER=votre_user_minio
MINIO_ROOT_PASSWORD=votre_mot_de_passe_minio

# PostgreSQL — Data Warehouse local
POSTGRES_DB=jobs_db
POSTGRES_USER=votre_user_postgres
POSTGRES_PASSWORD=votre_mot_de_passe_postgres

# Airflow
AIRFLOW_DB=airflow
AIRFLOW_USER=admin
AIRFLOW_PASSWORD=admin
AIRFLOW_SECRET_KEY=data-pipeline-assemblee-nationale

# pgAdmin
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin

# Grafana
GRAFANA_USER=admin
GRAFANA_PASSWORD=admin